.content-container {
  p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.3rem;
    word-break: break-all;
    @mixin atSmall {
      font-size: 1.8rem;
    }
  }
  a {
    font-weight: 500;
  }
}
