.page-section {
  padding: 2rem 0;

  @mixin atSmall {
    padding: 4.5rem 0;
  }

  &__blue {
    background-color: $mainColor;
    color: #fff;
  }

  &--test {
    background: url("../../../assets/images/testimonials-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: auto;
    object-fit: cover;
  }
}
